@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    color: #fff;
    font-size: 2.5rem;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}